<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Karur Hospital</title>
    <!-- bootstrap links -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    
    <!-- BootStrap Script links -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Spartan:wght@200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&family=Spartan:wght@200&display=swap" rel="stylesheet">

    <!-- icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body style="overflow-x: hidden;">
    <div class="index-back">
        <nav class="navbar fixed-top nav-tabs navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#" style="font-family: 'Spartan', sans-serif;">KARUR  HEALTH CARE <i class="fas fa-stethoscope"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admission">ADMISSION</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/ambulance">AMBULANCE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/medical">MEDICAL</a>
            </li>
            <li class="nav-item">
                <a href="/signin" style="text-decoration: none;"><button class="btn btn-outline-success nav-link" style="border: none;">SIGN IN</button></a>
            </li>
            <li class="nav-item">
                <a href="/signup" style="text-decoration: none;"><button class="btn btn-outline-info nav-link" style="border: none;">SIGN UP</button></a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="index-ul">
        <a href="/logout" style="margin-left: 95%;"><button type="button" class="btn btn-outline-danger">Logout</button></a>
        <h2 style="margin: 0 0 0 5%;padding: 6% 0 2% 2%;">Obstetrics (Pregnancy & Child Birth) we have</h2>
        <ul style="margin-left: 5%;padding-bottom: 5%;">
        <li>Senior consultants attending to emergencies 24*7</li>
        <li>deluxe suites with tv , heaters, spacious balconies for your comfort and speedy recovery</li>
        <li>24 hour obstetric call</li>
        <li>Early pregnancy assessment according to the latest guidelines</li>
        <li>Ante natal exercise classes</li>
        <li>The latest Ultra Sound machine with Colour Doppler</li>
        <li>Continuous Electronic heart monitoring (Cardio Tocograph) during delivery</li>
        <li>One to one nursing care</li>
        <li>Cord blood banting</li>
        <li>Expert neonatologists for new born resuscitation</li> 
        <li>State of the art Baby warmer and baby phototherapy unit</li> 
        <li>We are attached to ‘NEOLIFE’ – neonatal intensive care unit for care of pretexm babies & sick new</li> 
        </ul>
      </div> 
      </div>
      <div class="index-specialities">
        <h2>Specialities</h2>
        <ul>
          <li>Birthing Centre</li>
          <li>Cradle Fertility Centre</li>
          <li>Surgical Centre</li>
          <li>Bone & Joint Centre</li>
          <li>Non-Surgical Treatment</li>
          <li>Multi Speciality Hospital</li>
        </ul>
      </div> 
      <div class="row" style="margin-top: 5%;background-color: rgb(156, 156, 248);">
          <div class="col-lg-5 col-md-5 col-sm-12" style="margin-left: 3%;padding: 5% 0 3% 0;">
            <h2>CONTACT US:</h2>
            <p>Manmangalam, <br> Karur, <br> Tamil Nadu 638060 <br> <a href="https://kongu.ac.in/" style="color: black;">kongu.ac.in</a></p>
          </div>
          <div class="col-lg-5 offset-lg-1 col-md-5 col-sm-12" style="padding: 5% 0 3% 0;">
            <h2>Follow us on:</h2>
            <p><i class="fab fa-facebook" style="font-size:xx-large;"></i> <i class="fab fa-instagram-square" style="font-size: xx-large;margin-left: 7%;"></i> <i class="fab fa-youtube" style="font-size: xx-large;margin-left: 7%;"></i></p>
          </div>
      </div> 
</body>
</html>