<!DOCTYPE html>
<html lang="en">
<head>
<title>Table V05</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="../public/css/main.css">

<meta name="robots" content="noindex, follow">
<body>
<div class="limiter">
<div class="container-table100">
<div class="wrap-table100">
<div class="table100 ver1">
<div class="table100-firstcol">
<table>
<thead>
<tr class="row100 head">
<th class="cell100 column1">Employees</th>
</tr>
</thead>
<tbody>
<tr class="row100 body">
<td class="cell100 column1">Brandon Green</td>
</tr>
</tbody>
</table>
</div>
<div class="wrap-table100-nextcols js-pscroll">
<div class="table100-nextcols">
<table>
<thead>
<tr class="row100 head">
<th class="cell100 column2">Position</th>
<th class="cell100 column3">Start date</th>
<th class="cell100 column4">Last Activity</th>
<th class="cell100 column5">Contacts</th>
<th class="cell100 column6">Age</th>
<th class="cell100 column7">Address</th>
<th class="cell100 column8">Card No</th>
</tr>
</thead>
<tbody>
<tr class="row100 body">
<td class="cell100 column2">CMO</td>
<td class="cell100 column3">16 Nov 2012</td>
<td class="cell100 column4">16 Nov 2017</td>
<td class="cell100 column5"><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="b0d2c2d1ded4dfde8984f0d5c8d1ddc0dcd59ed3dfdd">[email&#160;protected]</a></td>
<td class="cell100 column6">30</td>
<td class="cell100 column7">New York City, NY</td>
<td class="cell100 column8">424242xxxxxx6262</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</div>


</body>
</html>
