.active{
    color: white;
}
.nav:hover{
    border-radius: 8px;
}
/* admin */
.patient h3{
    background-color: rgb(41, 40, 40);
    color: #f4f6f8;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.det{
    font-size: 150%;
}
.patient div{
    margin-bottom: 5%;
}
.patient{
    box-shadow: 13px 15px 17px -1px rgba(0,0,0,0.76);
    -webkit-box-shadow: 13px 15px 17px -1px rgba(0,0,0,0.76);
    -moz-box-shadow: 13px 15px 17px -1px rgba(0,0,0,0.76);
    border: 2px solid black;
    border-radius: 20px;
    background-color: #fdfeff;
    background-image: url("https://www.transparenttextures.com/patterns/soft-wallpaper.png");
    font-family: 'Source Serif 4', sans-serif;
}
.adminBod{
    background: rgb(71,89,189);
    background: linear-gradient(90deg, rgba(71,89,189,1) 0%, rgba(118,9,121,1) 82%);
}
/* admission */
.admissButton{
    margin-top: 2%;
}
.admissBody{
    overflow-x: hidden;
    background-color: #fdfeff;
    background-image: url("https://www.transparenttextures.com/patterns/soft-wallpaper.png");
}
.medic-back{
    background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.10)),url("../pictures/index\ background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100vh;
    background-position-x: 30%;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    margin-top: -1%;
}

.admiss{
    color: white;
    margin: 4% 20% 0 20%;
    padding: 5% 0 0 0;
}

.ambu-back{
    background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.10)),url("../pictures/ambulance.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100vh;
    background-position-x: 30%;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
}

.ambu{
    margin: 0 20% 0 20%;
    color: white;
    padding: 6% 0 0 0;
}

/* index */

.whl-index{
    margin-top: 1%;
} 
.hospital-name{
    color: rgb(95, 23, 23);
    font-size: 200%;
    margin-left: 3%;
    font-family: 'Spartan', sans-serif;
}
.ind-whl-icn{
    margin: 3% 0 0 0%;
}
.ind-icn{
    border: 1px solid black;
    font-size: 250%;
    padding: 3%;
    text-align: center;
}

.foot{
    background-color: rgb(114, 35, 35);
    color: white;
}
.whl-cntn{
    margin:0 15% 0 15%;
}
.cont1-para
{
    font-size: 150%;
    font-family: 'Quicksand', sans-serif;
}
.index-ul ul li{
    font-size: 200%;
    padding-bottom: 1%;
    font-family: 'Cormorant Garamond', serif;
}

.sign-up{
    padding: 3%;
    margin: 4% 30% 8% 30%;
    border-radius: 5px;
    background-color: #f4f6f83a;
}
.sign-up form input,h3{
    margin-bottom: 5%;
}
/* admin , index , ambulanceDet admissionDet  ambulance*/
.bod{
    background-color: #fdfeff;
    background-image: url("https://www.transparenttextures.com/patterns/soft-wallpaper.png");
} 

/* admin , index , admissionDet , ambulanceDet */
.cont1-head{
    padding: 6% 0 2% 2%;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    color: rgb(95, 23, 23);
}

/* signin , signup */
.sign-back{
    background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.10)),url("../pictures/sign.jpg");
    background-size: 100%;
    width: 100%;
    height: 100vh;
    background-position-x: 30%;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
}
.hide{
    display: none;
}

/* @media */
@media(max-width:768px)
{
    .hospital-name{
        font-size: 150%;
    }
}
@media(max-width:765px)
{
    .admiss{
        margin-top: 15%;
    }
    .empt{
        display: none;
    }
}
@media(max-width:430px){
    .index-specialities ul{
        margin-left: 0;
    }
    .contact{
        padding-left: 5%;
    }
    .admiss{
        margin-top: 30%;
        color: black;
    }
    .ambu{
        margin-top: 15%;
        overflow-y: scroll;
        color :black;
    }
    .medic-back{
        background-image: none;
    }
    .ambu-back{
        background-image: none;
        color: black;
        margin-top: 5%;
    }
    .admissButton{
        margin-top: -8%;
        margin-bottom: 5%;
        color: rgb(255, 249, 249);
        background-color: rgb(52, 130, 233);
    }
}
/* admission , ambulance */
.form-control{
    background-color: rgba(255, 255, 255, 0.671);
    color: black;
}



/* abulanceDet , admissionDet , admin */
.admiss-head{
    margin-left: 40%;
}
/* table {
    border: 2px solid rgba(0, 0, 0, 0.514);
}
th ,td{
    border: 2px solid rgba(126, 124, 124, 0.514);
    width: 10%;
}
.table{
    padding: 0 10% 0 10%;
} */

/* admissionDet , ambulanceDet */
/* .head:hover{
    background-color: rgba(102, 4, 4, 0.877);
    cursor: pointer;
}

.data:hover{
    background-color: rgb(24, 24, 95);
    color: #f4f6f8;
    cursor: pointer;
}


.admiss-table{
    text-align: center;
    font-size: 130%;
} */
/* table tr:nth-child(even),th{background-color: #d8d8d8;}

table tr:hover {background-color: #ddd;} */
/* model */
.dltMod{
    width:130%;
}
.yesNo{
    margin-right: 10%;
}
.no{
    padding-right:15%;
    padding-left:15%;
}
.yes{
    padding-right:15%;
    padding-left:15%;
}

.sign{
    border: 1px solid black;
    width: 30%;
}
.hide{
    display: none;
}
.signbtn{
    color: white;
    background-color: rgba(247, 70, 70, 0.774);
}
.signb{
    background-color: rgba(71,89,189,1);
}